@import 'reset';
@import 'grid';

* {
    font-family: 'Raleway', sans-serif;
}

.main {
    width: 75vw;
    margin: 0 auto;
}

header {
    background-color: black;
    width: 100%;
    height: 5vw;
    
    .main {
        display: flex;
        align-items: center;
        height: inherit;
        justify-content: space-between;
    }
}

.logo {
    color: white;
    font-weight: 400;
    font-size: 1vw;
}

.green {
    color: rgb(39, 199, 171);
    font-weight: 600;
}


nav li {
    display: inline-block;
    color: white;
    font-weight: 400;
    padding-left: 1vw;
    font-size: 1vw;
}

.slider_background {
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 56%, rgba(229, 229, 229, 1) 90%, rgba(229, 229, 229, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 56%, rgba(229, 229, 229, 1) 90%, rgba(229, 229, 229, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 56%, rgba(229, 229, 229, 1) 90%, rgba(229, 229, 229, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 700px;
}


/*slider section*/
.slider_background {
    
    height: 40vw;
    .main {
        display: flex;
        justify-content: space-between;
        height: inherit;
    }
}
.left_arrow,
.right_arrow {
    height: 40vw;
    display: flex;
    align-items: center;
    font-size: 7vw;
    color: rgb(64, 224, 208);
    font-weight:200;
}

.left_arrow {
    justify-content: flex-start;
}

.right_arrow {
    justify-content: flex-end;
}

.slider {
    width: 80%;
    height: inherit;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black_chair {
    width: 50%;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        height: auto;
        width: 100%;
    }
}

.main_idea {
    float: right;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    h1 {
        font-size: 2.5vw;
    }
    
    p {
        color: grey;
        font-size: 1vw;
        text-align: center;
        line-height: 2vw;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
}


.button {
    padding: 0.75vw 1.5vw;
    background-color: rgb(39, 199, 171);
    text-align: center;
    border-radius: 0.5vw;
    width: 15vw;
    
    a {
        color: white;
        font-size: 1.5vw;
        text-decoration: none;
    }
}

/*grid*/

.col-1 {
    height: 17.5vw;
}

/*section 2*/
.merchandise {
    background-color: white;
    height: auto;
    
    .merchandise_display {
        height: 30vw;
        display: flex;
        justify-content:space-between;
        align-items: flex-start;
        padding-top: 2.2vw;
    }
}

.title {
    color: black;
    font-weight: 600;
    font-size: 1vw;
}

.underline {
    background-color: rgb(39, 199, 171);
    width: 10vw;
    height: 0.3vw;
}

.chair_clair {
    background-image: url(../images/box1_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chair_margarita {
    background-image: url(../images/box2_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chair_clair, .chair_margarita {
    display: flex;
    align-items: flex-end;
}
.transparent_box {
    height: 5vw;
    width: 100%;
    background: rgba(255,255,255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    
}

.chair_text {
    height: 20vw;
    background: white;
    border: 2px solid lightgray;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    
    p {
        font-size: 0.7vw;
        line-height: 1.5vw;
        margin-top: 1vw;
        color: gray;
    }
}


/*section 3*/

.plan_offer {
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 60vw;
}

.headline {
    width: 100%;
    padding-top: 4vw;
    padding-bottom: 4vw;
    
    h2 {
        font-size: 2vw;
        color: gray;
    }
    
    .underline {
        width: 31.5%;
    }
}

.plan_holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan {
    height: 45vw;
    border: 0.01vw solid lightgray;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(249, 249, 249)
    
}

.circles {
    background: none;
    position: absolute;
    width: 5vw;
    height: 5vw;
    display: flex;
    align-self: center;
    margin-top: -3vw;
}

.big_circle, .small_circle {
    border-radius: 50%;
}

.big_circle {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 0.01vw solid lightgray;
}

.small_circle {
    width: 2.5vw;
    height: 2.5vw;
    background: lightgray;
    border: 0.01vw solid lightgray;
}

.price_place {
    background-color: rgb(249, 249, 249);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3 {
        font-size: 2vw;
        color: rgb(39, 199, 171);
        margin-bottom: 2vw;
        margin-top: 2vw;
    }
}

.price_circle {
    width: 11vw;
    height: 11vw;
    background: white;
    border-radius: 50%;
    border: 0.01vw solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    p {
        color: lightgray;
        font-size: 3vw;
        font-weight: 600;
        line-height: 3vw;
        
        sup {
           font-size: 1.5vw;
            font-weight: 400;
            top: -2vw; 
        }
        
        span {
            font-size: 1.5vw;
            font-weight: 400;
        }
    }
}

.options {
    height: 40%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
.option1, .option2 {
    width: 100%;
    height: 4vw;
    font-size: 2vw;
    line-height: 4vw;
    text-align: center;
    color: grey;
}
.option1 {
    background-color: lightgray;
}

.option2{
    background-color: rgb(241, 241, 241);
}

.join_place {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.button_join {
    padding: 1vw 1.5vw;
    background-color: rgb(39, 199, 171);
    text-align: center;
    border-radius: 10px;
    width: 10vw;
    
    
    a {
        color: white;
        font-size: 1.3vw;
        text-decoration: none;
        font-weight: 600;
    }
    
}

/*section 4*/
.contact {
    background-color: white;
    width: 100%;
    height: 700px;
}

.form {
    width: 63%;
    float: left;
    height: 500px;
}

.submit_holder {
    width: 32%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 500px;
    margin-top: -30px;
}

.red_chair {
    background-image: url(/images/red_chair.png);
    width: 350px;
    height: 299px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
    margin-left: -30px;
}

input[type=submit] {
    background-color: rgb(39, 199, 171);
    color: white;
    width: 100%;
    height: 85px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
}

.questions {
    width: 100%;
    height: 85px;
    margin-bottom: 20px;
    font-size: 50px;
    padding: 12px;
    border: 0.5px solid rgb(39, 199, 171);
    font-weight: 200;
}

#message {
    height: 255px;
}

textarea {
    resize: none;
}

.personal_data {
    color: lightgray;
    font-size: 30px;
    display: block;
    margin-bottom: 30px;
}

.checkbox {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(39, 199, 171);
    border-radius: 5px;
    display: table-cell;
    margin-top: 10px;
    background-image: url('../images/form_ok.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.description{
    display: table-cell;    
    padding-left: 15px;
}


footer {
    background: white;
    width: 100%;
    height: 200px;
}

.copyrights {
    color: lightgray;
    font-size: 20px;
    font-weight: 600;
    float: left;
    line-height: 200px;
    width: 60%;
}

.right_side {
    float: right;
    width: 35%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social_media {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}


.flickr, .vimeo, .pinterest, .twitter {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.flickr {
    background-image:url(/images/flickr.png);
}

.vimeo {
    background-image:url(/images/vimeo.png);
}

.pinterest {
    background-image:url(/images/pinterest.png);
}

.twitter {
    background-image:url(/images/twitter.png);
}

.grey_logo {
    float: right;
    font-size: 25px;
    color: lightgray;
    word-spacing: 2px;
    line-height:200px;
}

.grey_logo span {
    font-weight: 600;
}

///*dropdown*/

///* Dropdown Button */
//.dropbtn {
//    background-color: #000000;
//    color: white;
//    padding: 16px;
//    border: none;
//    cursor: pointer;
//}
//
//.dropdown {
//    position: relative;
//    display: inline-block;
//}
//
//.dropdown-content {
//    display: none;
//    position: absolute;
//    background-color: #000000;
//    min-width: 160px;
//    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//    z-index: 1;
//    font-size: 18px;
//}
//
//.dropdown-content a {
//    color: white;
//    padding: 12px 16px;
//    text-decoration: none;
//    display: block;
//}
//
//.dropdown-content a:hover {
//    background-color: #000000
//}
//
//.dropdown:hover .dropdown-content {
//    display: block;
//}
//
//.dropdown:hover .dropbtn {
//    background-color: #000000;
//}

